.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/public/background.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100vw 100vh;
    color: white;
    image-resolution: inherit;
}

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.landingPageContainer nav .navList {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3.5rem;
    height: 80vh;
    align-items: center;
}

.landingMainContainer > div:nth-child(1) {
    font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) h2 {
    margin-bottom: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button']{
  background: #D97500;
  width: fit-content;
  padding-bottom: 0.7rem;
  padding-top: 0.4rem;
  padding-inline: 1.5rem;
  border-radius: 10px;
  margin-top: 3rem;
}

.landingMainContainer > div:nth-child(1) div a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}


.landingMainContainer > div:nth-child(2) img {
    height: 70vh;
    width: auto;
}
